<h1>Historians</h1>

<ul>
  <% @users.each do |u| %>
    <li><a href="/users/:id"><%= u.fname.capitalize %> <%= u.lname.capitalize %></a></li>
  <% end %>

  <% @posts.each do |post| %>
    <li><a href="/posts/:id"><%= post.title.capitalize %> <%= post.content %></a></li>
  <% end %>

</ul>
