<h1>Historicity</h1>

<h3>The largest community of historians devoted to exploring the historicity of any and all topics.</h3>

<form action="/session/new">
  <input type="submit" value="sign in">
</form>

<form action="/users/new">
  <input type="submit" value="sign up">
</form>
