<h1>Historicity</h1>

<h3>The largest community of historians devoted to exploring the historicity of any and all topics.</h3>

<%= form_tag('/session/new', :method => :get) do %>
  <%= submit_tag "sign in" %>
<% end %>

<%= form_tag('/users/new', :method => :get) do %>
  <%= submit_tag "sign up" %>
<% end %>
