/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Open Sans', sans-serif;
   /*background-image: linear-gradient(#dd975e, #f8e1d1);*/
   height: 100%;
   padding: 2%;
 }

 .MainContainer {
   position: absolute;
   margin: auto;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   width: 600px;
   height: 370px;
   /*border: 1px solid black;*/

 }

h1, h2, h3 {
  font-family: 'Bungee Inline', cursive;
}

.signInUp {
  position: relative;
  left: 25%;
}

.btn {
  margin: 10px;
  background-color: #363636;
  color: white;
  width: 120px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #363636;
  font-size: 15px;
}
