/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Open Sans', sans-serif;
   /*background-image: linear-gradient(#dd975e, #f8e1d1);*/
   height: 100%;
   padding: 2%;
 }

 .MainContainer {
   position: absolute;
   margin: auto;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   width: 600px;
   height: 370px;
 }

 #mA {
   text-decoration: none;
   color: black;
 }

 #mA:hover {
   color: #808080;
 }

 #mNav {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 60px;
   border-bottom: 15px solid #353839;
   background-color: white;
   padding: 10px;
   margin-bottom: 30px;
 }

 .navLogo {
   position: relative;
   height: 50px;
   width: 50px;
   top: 3px;
   left: 10px;
 }

 #mUl {
   list-style-type: none;
   position: absolute;
   top: 13px;
   left: 60px;
 }

 #mLi {
   display: inline;
   font-size: 18px;
   font-weight: bold;
   width: 180px;
   padding-right: 60px;
 }

 #signOut {
   position: absolute;
   top: 75px;
   left: -55px;
 }

h1, h2, h3 {
  font-family: 'Bungee Inline', cursive;
}

.signInUp {
  position: relative;
  left: 25%;
}

.btn {
  margin: 10px;
  background-color: #363636;
  color: white;
  width: 120px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #363636;
  font-size: 15px;
}

.btn:hover {
  background-color: #808080;
}

.form {
  top: 10px;
  position: relative;
  left: 70px;
}

.formLabel {
  margin-right: 10px;
}

#signInBtn {
  position: relative;
  top: 0px;
  left: 40px;
}

#signUpBtn {
  position: relative;
  top: 15px;
  left: 40px;
}

.flash-message {
  width: 100%;
  position: absolute;
  padding: 10px;
  top: 0px;
  left: 0px;
  height: 30px;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
