// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainH1 {
  font-size: 50px;
  margin-bottom: 0px;
}

#homeMainP {
  position: relative;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.logo {
  position: relative;
  top: 15px;
  left: 250px;
  height: 100px;
  width: 100px;
}

#homeH1 {
  text-align: center;
}

.signInUp {
  position: absolute;
  padding-bottom: 20px;
  left: 30px;
  width: 280px;
  height: 40px;
}

#btn1 {
  position: relative;
  left: 5px;
}

#btn2 {
  position: relative;
  top: -63px;
  left: 140px;
}
